@import 'components/index';

.app-sidebar {
  @extend .col-12;
  @extend .col-lg-3;
  @extend .shadow-sm;
  padding-left: 0;
  padding-right: 0;

  display: flex;
  flex-direction: column;

  height: 30%;

  @include media-breakpoint-up(lg) {
    height: 100%;
  }

  @at-root &__header-bar {
    flex-shrink: 0;
  }

  @at-root &__input-form-container {
    overflow: auto;
  }
}
