@import 'location_picker';

.app-control {
  @extend .shadow-sm;
  padding-left: 0;
  padding-right: 0;
  height: 100%;

  display: flex;
  flex-direction: column;

  @at-root &__header-bar {
    flex-shrink: 0;

    @extend .navbar;
    @extend .navbar-dark;
    @extend .bg-primary;

    @at-root &-title {
      @extend .navbar-brand;
    }
  }

  @at-root &__input-form,
  &__route-control {
    overflow: auto;
    padding: 1em;
    flex-grow: 1;
  }

  @at-root &__switch-button {
    @extend .btn;
    @extend .btn-primary;
  }
}
