body, html, #app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

#app > * {
  flex-basis: 100%;
}

.app-sidebar {
  @extend .col-12;
  @extend .col-lg-3;
  @extend .shadow-sm;
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-up(lg) {
    height: 100%;
  }
}
