body, html, #app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

#app > * {
  flex-basis: 100%;
}

.app-wrapper {
  @extend .row;
  @extend .no-gutters;

  flex-direction: column;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  &__map {
    @extend .col;
  }

  &__app-control {
    @extend .col-4;
    @extend .col-lg-3;

    @include media-breakpoint-down(lg) {
      max-width: unset;
    }
  }
}
